@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #9333EA;   
  --color-secondary: #d582ff; 
  --color-accent: #6B1B9A;
  --color-danger: #FF6B92;    
  --color-bg: #fff5fd;        
  --color-text: #111827;      
}

:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text);
  color-scheme: light dark;
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  &:hover {
    color: #a855f7;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-text)
}

h1, h2 {
  font-size: 3.2em;
  line-height: 1.1;
}

input, textarea {
  background-color: white;
  font-size: small;
  margin: 4px;
}

select {
  background-color: white;
  font-size: small;
  margin: 4px;
}

.test-element {
  border: 2px red solid;
}

.card-content {
  display: flex;             
  flex-direction: column;     
  justify-content: center;    
  align-items: center; 
  height: 100%;
}

/* Make toast smaller */
.Toastify__toast {
  font-size: 0.8rem;       /* smaller font */
  padding: 4px 6px;       /* less padding */
}

/* Optionally adjust icon size */
.Toastify__toast-icon {
  width: 18px;
  height: 18px;
}

/* Reduce progress bar height */
.Toastify__progress-bar {
  height: 3px !important;
}

.btn-primary {
  color: white;
  background-color: #a855f7;

  &:hover {
    background-color: #9333ea; 
    transition: 0.2s;
  }
}

.btn-primary-outlined {
  color: black;
  border: 2px solid #a855f7;
  &:hover {
    background-color: #9333ea; 
    border: 2px solid #9333ea;
    transition: 0.2s;
    color: white;
  }
}

.btn-secondary {
  color: white;
  background-color: #d582ff; 

  &:hover {
    background-color: #c084fc; 
  }
}

.btn-success {
  color: white;
  background-color: #22C55E;
  &:hover {
    background-color: #1ea54f; 
  }
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-danger {
  background-color: var(--color-danger);
}

.content {
  text-align: left;
  margin: 16px;
  height: 100%;
}

.text-primary {
  color: #a855f7;
}

.status {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px; /* full pill */
  font-size: 0.875rem; /* text-sm */
  font-weight: bold;
  text-align: center;
  min-width: 90px;
}

.status-active {
  background-color: #c3ffd8; /* green-100 */
  color: #00b043;
}

.status-inactive {
  background-color: #ffeacf; /* yellow-100 */
  color: #efac61; /* yellow-700 */
}

.status-deleted {
  background-color: #fee2e2; /* red-100 */
  color: #ff5c5c; /* red-700 */
}

.common-input {
  border: 1px solid #d1d5db;   
  padding: 0.5rem;            
  border-radius: 9999px;       
  padding: 0.5rem 0.75rem;
  outline: none;              
  transition: box-shadow 0.2s ease, border-color 0.2s ease;

  &:focus {
    border-color: #a855f7;      
    box-shadow: 0 0 0 1px #a855f7;
  }

  &:disabled {
    background-color: #eaeaea;
    color: #6b7280;
    cursor: not-allowed;
  }
}

.common-textarea {
  border: 1px solid #d1d5db;   
  padding: 0.5rem 0.5rem;            
  padding: 0.5rem 0.75rem;
  outline: none;
  resize: vertical;            
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
  min-height: 4rem;
  font-family: inherit;
  font-size: 0.875rem;
  border-radius: 1rem;

  &:focus {
    border-color: #a855f7;      
    box-shadow: 0 0 0 1px #a855f7;
  }
}

/* custom-checkbox.css */
.custom-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #a855f7; /* modern browsers support this */
  &:checked {
    background-color: #a855f7;
    border-color: #a855f7;
  }
}

.input-error {
  border: 2px solid #ef4444 !important; /* Tailwind red-500 */
  box-sizing: border-box !important;
}

.input-empty {
  border: 2px solid #efb644 !important; /* Tailwind red-500 */
  box-sizing: border-box !important;
}