@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1d4ed8;   
  --color-secondary: #9333ea; 
  --color-accent: #f59e0b;
  --color-danger: #FF6692;    
  --color-bg: #f9f2ed;        
  --color-text: #111827;      
}

:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text);
  color-scheme: light dark;
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  background-color: white;
  font-size: small;
  margin: 4px;
}

.test-element {
  border: 2px red solid;
}

.card-content {
  display: flex;             
  flex-direction: column;     
  justify-content: center;    
  align-items: center; 
  height: 100%;
}

/* Make toast smaller */
.Toastify__toast {
  font-size: 0.8rem;       /* smaller font */
  padding: 4px 6px;       /* less padding */
}

/* Optionally adjust icon size */
.Toastify__toast-icon {
  width: 18px;
  height: 18px;
}

/* Reduce progress bar height */
.Toastify__progress-bar {
  height: 3px !important;
}

.bg-primary {
  background-color: var(--color-primary);
}